.avtarStyle img {
    width:200px;
    height: 200px;
   
} 
/* .avtarStyle {
    background-color: purple;
} */
.avtarStyle h5,p{
    color: black;
    text-align: center;
}
.avtarStyle h5 input{
    background-color: transparent;
    text-align: center;
    border:0;
    color: black;
}
.avtarStyle h5 input:focus{
    outline: none;
}